<!-- <%- include("header") -%> -->
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
    eum neque dolor consectetur architecto, praesentium suscipit iste
    mollitia, alias dignissimos quos cum nulla unde? Accusantium quasi
    repudiandae error laborum qui.</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
    perspiciatis magnam repudiandae eligendi rerum quis, reprehenderit
    molestias vitae distinctio dicta expedita temporibus aliquam,
    tempora voluptate? Asperiores ratione amet assumenda
    exercitationem.
    Ab laborum tempore quisquam itaque necessitatibus modi eos ipsum,
    dolore dolorum inventore illo est nostrum quam optio molestias
    reiciendis aliquid iusto, architecto assumenda aperiam! Ducimus ea
    doloribus voluptatum quasi vero.
  </p>
  <%- include("footer") -%>